@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Spoofify!</h1>
    <br />
    <img src="Images/Spoofify.png" alt="Spoofify Logo">
    <p>Add songs to <a asp-page="Songs/Index">your playlist</a> now!</p>
</div>
