@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>What is privacy anyways? You're storing your data on the internet. You should know better...</p>
